<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anggach.flutterbranchiopluginexample">

    <!-- The INTERNET permission is required for development. Specifically,
         flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- io.flutter.app.FlutterApplication is an android.app.Application that
         calls FlutterMain.startInitialization(this); in its onCreate method.
         In most cases you can leave this as-is, but you if you want to provide
         additional functionality it is fine to subclass or reimplement
         FlutterApplication and put your custom class here. -->
    <application
        android:name="com.anggach.flutterbranchioplugin.src.FlutterBranchIOApp"
        android:label="flutter_branch_io_plugin_example"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name="com.anggach.flutterbranchiopluginexample.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- This keeps the window background of the activity showing
                 until Flutter renders its first frame. It can be removed if
                 there is no splash screen (such as the default splash screen
                 defined in @style/LaunchTheme). -->
            <meta-data
                android:name="io.flutter.app.android.SplashScreenUntilFirstFrame"
                android:value="true" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Branch URI scheme -->
            <intent-filter>
                <!--<data android:scheme="YOURSCHEME" android:host="open"/>-->
                <data android:scheme="MYVALUEAPPS" android:host="open"/>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--<data android:scheme="https" android:host="YOURHOST.test-app.link" />-->
                <data android:scheme="https" android:host="myvalue.test-app.link" /> <!-- Test Scheme -->
                <data android:scheme="https" android:host="myvalue-alternate.test-app.link" /> <!-- Test Scheme -->
                <data android:scheme="https" android:host="myvalue.app.link" /> <!-- Live Scheme -->
                <data android:scheme="https" android:host="myvalue-alternate.app.link" /> <!-- Live Scheme -->
            </intent-filter>
        </activity>

        <!-- Branch init -->
        <!--<meta-data android:name="io.branch.sdk.BranchKey" android:value="YOURLIVEKEY" />-->
        <!--<meta-data android:name="io.branch.sdk.BranchKey.test" android:value="YOURTESTKEY" />-->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_gmMbs5eZrigONKBBO2NjAfgcxyoBQPaM" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_hfRcr4fXwdcKHSsqH3MjtienutfAVMh1" />
        <meta-data android:name="io.branch.sdk.TestMode" android:value="true" /> <!-- Set to true to use Branch_Test_Key -->

        <!-- Branch install referrer tracking -->
        <receiver android:name="io.branch.referral.InstallListener" android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
